<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAPISuite">
    <test thread-count="5" name="RestAPISuite">
        <classes>
            <class name="com.gitlab.tests.AuthenticationToken"/>
            <class name="com.gitlab.tests.PostTests"/>
            <class name="com.gitlab.tests.GetTests"/>
            <class name="com.gitlab.tests.PutTests"/>
            <class name="com.gitlab.tests.DeleteTests"/>
        </classes>
    </test> 
</suite>